[2018-04-04 12:15] Valkryst opened #1 "Add Maven Dependency"
Add support for adding the project as a Maven dependency.

[2018-04-05 19:44] shannah opened #2 "Maven repository down?"
I'm getting this when I try to build:

[code]

Am I doing something wrong?  Is there a jar only distribution I can download directly without having to build it?

[2018-04-05 19:46] dlemmermann commented on #2
We are planning to deploy the project to jcenter and maven central soon. Until then you will need to build the JAR yourself. I am hoping that the missing dependency will be available soon.

[2018-04-06 01:33] Xerus2000 commented on #2
For the meantime I made a shadowJar containing all dependencies and am putting it out here for anyone who wants it:
[PreferencesFX-1.3.0-SNAPSHOT.zip](https://github.com/dlemmermann/PreferencesFX/files/1882360/PreferencesFX-1.3.0-SNAPSHOT.zip)

[2018-04-06 11:53] shannah commented on #2
Thanks.  Looks like the repo's back up now also.

[2018-04-06 11:53] #2 closed

[2018-04-10 21:07] tobiasdiez opened #4 "Replace StorageHandler"
What is the preferred way to replace the built-in [StorageHandler](https://github.com/dlemmermann/PreferencesFX/blob/develop/src/main/java/com/dlsc/preferencesfx/util/StorageHandler.java) by a custom implementation? This seems to be necessary if one wants to save the preferences not using the Java Preference API (e.g. store the preferences in a file instead).

[2018-04-10 21:30] tobiasdiez opened #5 "How to access single preference values"
Thanks for creating such a nice library. I like the idea and realization looks really promising.

There is one thing I couldn't figure out while browsing through the code. I hope it is ok if I use this issue tracker for my question: How do I load and save single (or multiple) settings without using the preference dialog?

The structure in the examples appears to be: you create a `PreferencesFx` in

[2018-04-12 11:08] Xerus2000 opened #6 "Use as Node"
Can I also have the preferences as Node, for example to make it a tab? Or does it only support popup dialogues?

[2018-04-20 14:14] jchildress commented on #6
I'd be a fan of the requested functionality...

[2018-04-23 08:37] Genron commented on #5
Hello @tobiasdiez

Thanks for your feedback. We appreciate it a lot.
The preferences dialog opens only when you call the method `yourPreferences.show();`. So the best way for using the PreferencesFX would be:
- Initiate the `Properties` you use in your application
- Create the `PreferencesFX Object` with those properties
--> Without calling `.show();` your properties are now bound to the `Preferen

[2018-04-23 08:45] Genron commented on #4
Hello @tobiasdiez
Currently the replacement of the `StorageHandler` is not supported, but feel free to implement it on your own and make a pull request.

You can then listen at the properties you defined and save the preferences manually as they change.

Changing the usage of the `StorageHandler` can be achieved using following methods:

| Method | Behaviour |
|----------|:------------|
| `persist

[2018-05-10 17:47] kivimango commented on #4
I second that.I need a custom implementation of StorageHandler (like Spring Scurity's UserDetailsService) because in my app there is a separate service object for loading and saving the app's config properties.Sometime i will make the change and create the PR.Anyway great lib.

[2018-05-17 11:03] finanzer opened #7 "Add possibillity to make Dialog APPLICATION_MODAL"
Now it's not possible to set a init owner and the Dialog is not application modal. And there is no possibility to change this. This results in a new window without an icon and parallel using of application and preferences dialog (see screenshot).

![image](https://user-images.githubusercontent.com/10505961/40173589-a2b3e4fe-59d2-11e8-97b4-4b390894c943.png)

It would be better, if this could be con

[2018-05-17 11:08] finanzer opened #8 "External changes of preference values not possible"
Now the preference values will be read from storage everytime the method show() is called. That makes it impossible to change a value somewhere else in the application, because a new value will b overriden by storageHandler. Is it really usefull to read the values everytime when the dialog is shown? I think the values are already in memory and could be used directly.

[2018-05-17 11:22] finanzer opened #9 "NPE in SimpleRadioButtonControl"
SimpleRadioButtonControl in not working because the order in initializeParts() is wrong the correct Code would be

`
public void initializeParts() {
        super.initializeParts();

        node = new HBox();
        node.getStyleClass().add("simple-radio-control");

        toggleGroup = new ToggleGroup();

        createRadioButtons();
    }
`
The assignment to fieldLabel is removed, because th

[2018-05-24 09:52] finanzer opened #10 "Using of Enums as Field Values not possible"
The using of enums as Values for Settings and Setting values and Setting selections is not possible, because the StorageHandler converts all stored values to Object and not to the type of the Setting value.

Example:

Create Setting:

[code]

Create Preference:

[code]

Reading of value of myEnumSettingValuewith

MyEnum myEnum = myEnumSettingValue.get()

after creation of PreferencesFx results in

[2018-06-04 20:34] SamCarlberg opened #11 "Cannot use custom stylesheets on dialog"
Dialogs created with `PreferencesFx.show()` cannot have their stylesheets set. Applications with custom stylesheets are unable to use anything but the default Modena styles on preferences dialogs

[2018-06-05 13:08] DjayDev opened #13 "Buttons behavior: cancel should cancel?"
Hi,

I have few remarks to share with you about the buttons:
Usually, for this kind of screen, there are 3 buttons (see example below form the settings screen of IntelliJ Idea):
![image](https://user-images.githubusercontent.com/7959058/40976917-c835503a-68cf-11e8-9850-c5c2082b53e7.png)
OK: to save and close
Cancel: Do not save anything
Apply: save but keep open

1. If you want to keep 2 buttons,

[2018-06-05 13:16] dlemmermann commented on #1
Project was migrated to Maven and uploaded to maven central and jcenter.

[2018-06-05 13:16] #1 closed

[2018-06-05 13:45] DjayDev opened #14 "Human readable key stored"
Hi,

When a key is stored (except one of the predefined for positions and size), the key is a sha-256 converted to String.
When you look in the registry (in Windows), you have this uggly look:
![image](https://user-images.githubusercontent.com/7959058/40979008-e2ce4a8c-68d4-11e8-90ad-73334ccc00b7.png)

I see that you want to use a hash of the key given, but
1. you don't apply this rule to your key

[2018-06-18 10:05] martinfrancois commented on #14
Hi @DjayDev
Thanks for your comment 👍. Like I mentioned in #15, the reasoning behind this is explained in the JavaDoc of `StorageHandler#hash(String)`.

I agree this is not a very pretty solution, but it's the best approach we found that would allow to save indefinitely long breadcrumbs to the preferences and thus circumvent the limits of the 80 character key length limitation as posed by the Java

[2018-06-18 10:30] martinfrancois commented on #13
Hi @DjayDev

Thanks again for your issue! 👍

The reasoning behind having no "Apply" button was because the changed settings are immediately applied.
1. I wrote you a comment in #15. I hope that clears it up!

2.: Regarding `persistWindowState(true)` saving the window state when the dialog is closed with "Cancel": We have looked at preferences dialogs from a lot of applications and all of them (inc

[2018-06-18 10:37] martinfrancois commented on #11
Hi @SamCarlberg

Good suggestion! I agree. Feel free to submit a PR to fix this issue and we will happily merge it.

Thanks! 👍

[2018-06-18 10:46] martinfrancois commented on #10
Hi @finanzer

Thanks a lot for posting an issue about this, especially providing a workaround for all people that have the same issue 👍 We didn't think of this, which is why it's great having an open source community and people like you discovering things like that!

This is a problem indeed and I agree the workaround is not very pretty, but at the same time I can't think of a solution right now t

[2018-06-18 10:50] martinfrancois commented on #9
Hi @finanzer

Thanks a lot for your issue!

You're absolutely right! I also noticed the same issue is true for "SimpleCheckBoxControl", "SimpleBooleanControl". Please submit a PR and we will happily merge it!

[2018-06-18 10:54] martinfrancois commented on #8
Thanks for your comment! During the implementation, we thought of PreferencesFX being the central and only place where these values would be influenced, hence why we didn't think of this. But of course you are absolutely right, we should introduce some kind of check and apply externally changed values without overriding them with the saved settings upon opening.
Also concerning reading the values

[2018-06-18 10:54] martinfrancois commented on #7
I agree. This is a useful addition.

[2018-06-18 12:13] martinfrancois commented on #7
Closing, since it's covered in #12

[2018-06-18 12:13] #7 closed

[2018-06-18 12:15] martinfrancois commented on #5
Since there has not been any reaction by @tobiasdiez yet, I'll close this issue. Feel free to reach out though, if you still have any questions! 😃

[2018-06-18 12:15] #5 closed

[2018-06-18 12:16] martinfrancois commented on #4
@kivimango thanks a lot for the feedback, that's great to hear! 😄

[2018-06-18 13:49] DjayDev commented on #14
Not ideal, but the first idea that comes would be to have an hybrid solution: when the breadcrumb is less than 80char, we leave it clear and for breadcrumbs more than 80 chars, we would use the hash (and a pref to use always the hash like it is now so it won't break the current implementation).
Based on your experience, do you think the breadcrumbs is often higher than 80 chars?
If you're ok with

[2018-06-18 14:40] martinfrancois commented on #14
I think this approach could work, I just don't see the benefit of having all of this additional code (potentially resulting in bugs and making it harder to maintain) to just have some of the keys in human-readable form. I don't think most people will have a look at the registry to change the values, or is there a certain use case that you have in mind, where it would be useful to have the keys sto

[2018-06-18 14:43] martinfrancois commented on #9
Fixed in #16, thanks again @finanzer!

[2018-06-18 14:43] #9 closed

[2018-06-18 15:51] DjayDev commented on #14
The use case is to be used with the listener like I showed in the samples I submitted. I know I should be able to do it with the hash function (not tested but I guess) but it's more convenient to do it with readable preferences.
It's a way to read and/or change the preferences outside the dialog like it was asked in the question #8

[2018-06-18 15:59] martinfrancois commented on #14
I see what you mean @DjayDev. To have a listener for the changed settings I think it makes more sense to apply a listener to the property itself that you define in the appropriate spot where you need it in your application and to react to it there. If you just generally want an information for debugging to see the changed settings, I think the approach I proposed in #15 with logging would make sen

[2018-06-22 10:37] Xerus2000 commented on #6
Any progress? This is a major blocker since I can only utilise this when I can embed it into a the application window. Shouldn't even be hard, just return the Component that's in the Window?

[2018-06-22 11:23] Xerus2000 commented on #13
I think there should be an option to cache the changes, due to the already existing history it shouldn't be hard. Then no changes would be applied until the user presses "Apply".
First adjusting values and then adjusting them back when pressing Cancel is really not proper behaviour.

[2018-06-22 13:01] Xerus2000 opened #17 "Why is everything observable?"
While inspecting the code I find many Properties whose value is actually immutable, and set only once on object creation. Why are these Properties instead of simple variables?

[2018-06-22 13:14] Xerus2000 opened #18 "Why migrate from Gradle to Maven?"
Gradle is much less verbose and much more versatile than maven. Why would you go that step back?

[2018-06-22 13:21] dlemmermann commented on #18
Because I hate Gradle. As simple as that. I have been using Maven for years and found nothing seriously wrong with it. I do like verbosity. I do like the declarative approach. Also, all my projects use Maven and this way I do not have to switch back and forth. BTW, there are quite a few people who would disagree that using Maven is "a step back". The students who implemented this project initially

[2018-06-22 13:21] #18 closed

[2018-06-27 12:31] aalmiray commented on #7
Any news regarding the next release?

[2018-06-27 12:33] dlemmermann commented on #7
I announced it on Twitter. You said "Thank you!" :-)

[2018-06-27 12:33] aalmiray opened #20 "React to close/save actions found in PreferencesDialog"
I have the need to find out if the `Close` or `Save` buttons found in `PreferencesDialog` were clicked, but it's not possible to reach the event source (the buttons) without resorting to reflection hacks.

Suggestion: return the ButtonType in `show(boolean)` (see #7). However this suggestion does not cover the use case where the dialog is non-modal (old behavior of `preferencesfx.show()`) thus per

[2018-06-27 12:34] aalmiray commented on #13
IMHO it's not a good idea to update values immediately as it's currently done. I've resorted to duplicating the properties and only sync back when needed, which is also very, very tricky to do right now (see #20).

[2018-06-27 12:36] aalmiray commented on #7
Indeed, however version `2.0.1` does not include this change as `2.0.1` was released on April 30th, but the fix was merged in June 18th.

[2018-06-27 12:41] dlemmermann commented on #7
Oh wait ... wrong project :-) I was thinking of FormsFX ..... stupid me.

[2018-06-27 12:41] aalmiray opened #21 "Open PreferencesFX for extension"
The current design of the `PreferencesFX` class does not provide extension points that could be used to tweak behavior (see #4 for example). It would be better perhaps to expose internal state via `protected` fields or methods, also use the template factory method in the constructor, delegating the actual creation on collaborators to protected methods, such as

      protected PreferencesFx(Class<

[2018-06-27 12:42] aalmiray commented on #7
Too many projects to juggle around 😏

[2018-06-27 12:55] dlemmermann commented on #7
Version 2.0.2 is now pushed to jcenter and maven central. Might take an hour or so to actually appear / be accessible.

[2018-06-27 12:59] aalmiray commented on #7
Great! This will get me closer to what I need however a solution to #20 would be better IMHO.

Thanks again! 😄

[2018-06-28 11:13] aalmiray opened #23 "Let Setting support additional description"
As of `2.0.2` the `Setting` class holds a simple description and a value. It would be great if an additional description could be added to a particular Setting, see attached screenshot from IntelliJ
<img width="1119" alt="section-description" src="https://user-images.githubusercontent.com/13969/42030983-efefeab0-7ad4-11e8-8b09-0fea12aad0ff.png">

[2018-06-28 11:14] aalmiray opened #24 "Let Cate gory support an additional description"
As of 2.0.2 the `Category` class holds a simple description and a value. It would be great if an additional description could be added to a particular `Category`, see attached screenshot from IntelliJ

<img width="1119" alt="category-description" src="https://user-images.githubusercontent.com/13969/42031030-1f208bdc-7ad5-11e8-8c47-130a4372bf20.png">

[2018-06-28 11:16] aalmiray opened #25 "Display overview per Category"
Intellij has the ability to show an overview page for each `Category` that has subcategories. The overview shows a descriptive text and links to every subcategory. Clicking on a link opens the page for that category, as well as selecting the matching category on the tree. See attached screenshot

<img width="1119" alt="category-overview" src="https://user-images.githubusercontent.com/13969/4203112

[2018-06-28 11:33] Xerus2000 opened #26 "Reduce coupling"
Currently, most objects store references the each other:
PreferencesFX stores everything
The view keeps references to storage and other stuff
Etc.

This is not good design and makes it harder to customise and improve the individual components.

[2018-06-29 09:01] aalmiray opened #27 "Integer editor allows non numeric characters"
It's possible for users to type in non numeric characters (such as letters) in the default renderer of an `IntegerProperty`. This leads to exceptions being thrown when using the up/down arrows or storing properties.

[2018-06-29 19:06] #20 closed

[2018-07-09 15:37] martinfrancois commented on #17
Hi @Xerus2000
Thanks for your comment! We tried to use observables wherever it makes sense. Could you please elaborate on which properties you mean exactly? I will then be able to tell you the reasons (if there are) and else we could discuss about changing them into simple variables, should it not make any sense.

[2018-07-09 15:58] martinfrancois commented on #21
Hi @aalmiray, thanks for your valuable comment!

Concerning #4, we discussed this already before making it public and our rationale was the following:
In the use case of developers wanting to handle the storage of the values themselves, we thought that those would most likely already have their storage solution implemented and wouldn't want to bother with implementing an own StorageHandler and con

[2018-07-09 16:01] martinfrancois commented on #23
100% agree on this. We discussed this already before making PreferencesFX public and due to the limited time we had, we decided to not implement it in favor of other, more important features.
Feel free to implement it and submit a PR!

[2018-07-09 16:05] martinfrancois commented on #24
Here I have the same answer as I wrote in #23, feel free to implement if you want and submit a PR!

[2018-07-09 16:15] martinfrancois commented on #25
We discussed this already before making PreferencesFX public and we always found this (at least concerning the overview of subcategories). We found it to be a bit unnecessary and redundant, since the subcategories are already present in the tree view. I could see the description being useful, but here we thought that probably the name of a category should be self-descriptive anyways and if people

[2018-07-09 16:19] martinfrancois commented on #26
Hi @Xerus2000,
We tried to have the least amount of coupling possible, while still preserving ease of use of the API. For example, we used dependency injection wherever we could.
Could you please elaborate on which parts of the code you find to have too much coupling and what parts you would like to customize and improve, and are unable to do so?
Thanks!

[2018-07-09 16:23] martinfrancois commented on #27
Hi @aalmiray
Thanks for submitting that issue! That is indeed a bug. Feel free to submit a PR fixing this issue!

[2018-07-09 16:31] aalmiray opened #30 "Update FormsFX with local fixes"
The documentation states that FormsFX had some bugs that had to be patched in the local fork. Have any of these changes be ported back to FormsFX? See https://github.com/dlemmermann/formsfx/issues/11 or cross-reference

[2018-07-09 16:32] aalmiray commented on #23
Very well, I'd suggest an API similar to what's provided at https://github.com/dlemmermann/formsfx/pull/21, that is, `description` should accept `String` or `Node` as arguments. If it's a String, then it'll be wrapped with a `Label`.

[2018-07-09 17:30] aalmiray commented on #23
It makes sense for https://github.com/dlemmermann/formsfx/pull/21 to be reviewed and hopefully merged, then wait for the next release of FormsFX as `Setting` uses the `Field` API as is.

[2018-07-09 20:49] Xerus2000 commented on #17
For example a `Change` in the `History` should not be mutable and thus have no Properties. Of you ever use Kotlin you'll suddenly start adopting and appreciating immutability much more, I strongly suggest giving it a try ;)
Furthermore, I don't see a reason why a Change would have separate properties for Lists and Single Items. But I'm already working on a PR that addresses that.

[2018-07-09 20:51] martinfrancois commented on #23
I think since `description` is an internal name anyways and refactoring that would not result in any signature changes, resulting in only non-breaking API changes I would even propose to refactor `description` to `title` or `name` and then you could use `description`, as it would make more sense. What do you think?

[2018-07-09 20:52] Xerus2000 commented on #26
Well, as I said, PreferencesFX stores a reference to the View and the Store, and the View then also stores a reference to the Store. I observed this pattern on multiple occasions and it makes everything intertwined.

[2018-07-11 17:34] martinfrancois commented on #26
The only view that has a reference to the `StorageHandler` is `PreferencesFxDialog`, and it gets the `StorageHandler` by calling `model.getStorageHandler()`. This allows for dependency injection of the `StorageHandler`, especially since the `PreferencesFxDialog` gets the `PreferencesFxModel` passed in with the constructor parameters. To me, this is not bad design.
What would you propose here to re

[2018-07-11 17:56] martinfrancois commented on #17
The `Change` is immutable for the most part, you will notice that the only things that can be changed externally are the old and the new list / values.  The rest is only exposed as `ReadOnly` properties.

Actually, making them mutable in this regard was a tradeoff. The problem were the compounded changes - let's imagine you drag a slider from 1 to 42. As you do so, JavaFX will trigger hundreds if

[2018-07-11 19:06] martinfrancois commented on #30
Hi @aalmiray
You noted that correctly. There are two sides of the story to this:

1. We noticed some bugs which we fixed and backported to FormsFX. You can see them in the commit history of FormsFX between the 28 Nov 2017 and 4 Dec 2017.

2. Mid-project we noticed that some odd design decisions were made by the developers of FormsFX, which we weren't aware of. Long story short, instead of only usi

[2018-07-12 18:34] #4 closed

[2018-07-17 20:30] aalmiray commented on #25
Sure thing. I'm awaiting a series of PRs to be merged at https://github.com/dlemmermann/formsfx prompting a release and a refresh here, thus enabling additional features.

[2018-07-29 14:31] shannah opened #32 "Blank dialog content"
When I use the maven release 2.0.3, it works fine.  When I clone the repo's develop branch, and try to run the preferencesfx-demo, I get blank content in the preferences dialog as shown below.  I get the same for all of the demos.

![image](https://user-images.githubusercontent.com/2677562/43367396-1b4c2e96-9301-11e8-8221-174c335b6032.png)

Running on JDK1.8u141

[2018-07-29 14:46] shannah commented on #32
Last good version seems to be https://github.com/dlemmermann/PreferencesFX/commit/5c942dc13e33418b3e7c6f9e851c4c60de7ad7a3

[2018-08-01 07:04] abdoFX opened #34 "Retreive Saved prefrences with out binding"
Hi,
I want to know, how to retreive saved prefrences , PrefrencesFX Object
Some thing like
if(prefs.get("settingName") == "some thing") {

// do task
}

Thank's in advenced,

[2018-08-01 11:02] martinfrancois commented on #34
Hi @abdoFX,

In your application, simply declare a property:
`StringProperty welcomeText = new SimpleStringProperty("Hello World");`
Then, create a `PreferencesFx` object, using that property in a setting:
[code]
Now you can show the preferences dialog by calling:
`preferences.show()`

If you now want to retrieve the saved preferences (here for example, what string has been entered in `welcomeText

[2018-08-01 11:17] #32 closed

[2018-08-26 18:47] aalmiray opened #35 "Allow preferences to be saved at any time"
Currently preferences may be saved after the dialog is closed. It would be great to allow preferences to be saved at any point in time without having to pop open the dialog, think for example an application that stores `x`, `y`, `width`, `height` coordinates of the main window. These coordinates may be set using the preferences dialog, but can also be updated by tracking user actions (such as resi

[2018-09-06 05:44] martinfrancois commented on #35
Implemented with #36

[2018-09-06 05:44] #35 closed

[2018-09-06 05:45] martinfrancois commented on #34
Since there was no response, I will close this issue. Feel free to open it up again or create another issue should you still run into issues.

[2018-09-06 05:45] #34 closed

[2018-09-06 05:47] martinfrancois commented on #26
Since there was no response, I will close this issue. Feel free to open it up again or create another issue should you still run into issues.

[2018-09-06 05:47] #26 closed

[2018-09-06 05:48] martinfrancois commented on #21
Since there was no response, I will close this issue. Feel free to open it up again or create another issue should you still run into issues.

[2018-09-06 05:49] martinfrancois commented on #17
Since there was no response, I will close this issue. Feel free to open it up again or create another issue should you still run into issues.

[2018-09-06 05:49] #17 closed

[2018-09-06 05:49] martinfrancois commented on #6
Implemented in #36

[2018-09-06 05:49] #6 closed

[2018-09-06 05:50] martinfrancois commented on #14
Since there was no response, I will close this issue. Feel free to open it up again or create another issue should you still run into issues.

[2018-09-06 05:50] #14 closed

[2018-09-06 18:19] martinfrancois opened #40 "Switch implementation from `Field` to `Element`"
As of FormsFX 1.3.0, introduced by https://github.com/dlemmermann/formsfx/pull/28 a `Field` is now a subclass of `Element`. From PreferencesFX 2.1.0, the included dependency of FormsFX has been updated to 1.3.0, but still only `Field` is supported and not `Element`.
By using `Field` we are limited in terms of the features of FormsFX we and also the API user can use and thereby benefit from.

This

[2018-09-07 20:50] martinfrancois commented on #21
@aalmiray thanks for letting us know! Makes sense, I just reopened it.

[2018-10-29 17:32] sdaskaliesku opened #42 "Is there a way to allow user to add new element to ListProperty?"
Simplest example, ListProperty<String> names = ...; , on UI user may see a ListView with an TextField and Button.

If this functionality does not exists right now, could you please suggest me an entry point to start implementing this?

[2018-10-31 10:19] martinfrancois commented on #42
Hi @sdaskaliesku,
Do you mean something like this?
https://docs.oracle.com/javafx/2/ui_controls/img/table-sample.png

[2018-10-31 10:50] sdaskaliesku commented on #42
Hi, @martinfrancois!
Exactly!

[2018-10-31 12:49] sdaskaliesku commented on #42
For now I see two possible solutions:
1. Iterate over all PreferencesFxView nodes, find appropriate one and add required nodes for specific group in runtime.
But this solution adds a lot of complexity, especially with alignment.
2. Again, iterate over all nodes add event listener for click on Category (in case there is a TreeView) and open additional Dialog which will render required Nodes. In thi

[2018-10-31 19:34] martinfrancois commented on #42
Hi @sdaskaliesku

Do I understand that correctly? You just want to use this for a particular setting in the PreferencesFX window, right?
If so, your two proposed solutions are waaaay to complex. We designed PreferencesFX with the ability to use custom controls for settings in mind.
Have a look at the `README` and search for `// Custom Control`:
[code]
This shows you how to use a custom control in

[2018-10-31 23:35] sdaskaliesku commented on #42
ooooooooooh, that's awesome! Somehow I've missed this example.
Thank you!

Just made a small sample and it worked exactly as I need.

However in case saving settings I faced a minor issue (looks like related to gson), while providing custom cell factory for list view, there is a class cast exception, but it's not a problem for me, since I'm using custom implementation of StorageHandler.
StorageHan

[2018-11-17 10:53] jmendezv opened #43 "Load settings easily"
Hi,

I’m using PrefrerencesFX for the first time and I just wanted to load the setting on start up. Is it possible? How? I have pretty much the same questions than tobiasdiez.

Thanks

Pep

[2018-11-17 11:00] jmendezv opened #44 "load"
Why are preferences encrypted?

[2018-11-24 13:37] martinfrancois commented on #27
Fixed by #41

[2018-11-24 13:37] #27 closed

[2018-11-24 13:47] martinfrancois commented on #43
Hi @jmendezv

It's easier than you think. You only need to supply a property when creating a setting and you need to make sure to already create the `PreferencesFx` object upon start up of your application. You don't have to call `preferencesFx.show()` yet. As soon as the `PreferencesFx` object is being created, it will automatically load all of the saved values via a binding that is being made to

[2018-11-24 13:51] martinfrancois commented on #44
Hi @jmendezv

The preferences are not encrypted. The keys under which they are stored however are indeed **hashed**. You can find the reason for that in `StorageHandlerImpl.java`, in the javadoc of the `hash()` method:
[code]

[2018-11-24 13:51] #44 closed

[2018-11-25 17:53] jmendezv commented on #43
Hi François,

You are very kind to take the time to answer. Yes it works :) However, when I cancel a preferencefx window the values get changed too when they shouldn’t!!!

I think that the ‘Close’ button should be something like ‘Accept’ and the ‘Cancel’ button should be something like ‘Close’ (and shouldn’t change the settings). Or am I doing something wrong.

By the way. Great job!!

Best

Pep

[2018-11-25 17:55] jmendezv commented on #44
Ok, I get it, you just want to guaranteed a decent keysize.

[2018-11-26 09:49] martinfrancois commented on #44
It's not really that we want, it's more that if we have a key that is longer than 80 characters, the Java Preferences API will throw an exception during saving and that of course is not acceptable ;-)

[2018-11-26 20:56] martinfrancois commented on #43
Hi Pep,
You're welcome. I'm glad it works! :)
This is something that has caused confusion in the past, I hope I can clear this behavior up:
- When the user changes a setting, the values of the property gets automatically updated as soon as the user changes it
- If the user presses close, the settings will be saved
- If the user presses cancel, the changes made since the opening of the preferences

[2018-12-13 19:49] Naoghuman commented on #23
Thats somethink I ask me for myself. Why are the parameters in Setting, Group and Category spelled `description` when in the JavaDoc they promounced as `name`, `title`...
One possibility is that the text in the label describes the functionality from the component on the right side, but why isn't that terminology used in the JavaDoc?

[2018-12-13 19:50] Naoghuman commented on #24
Here also my question like in #23 why the misleading naming betwenn the parameter and JavaDoc.

[2018-12-13 20:01] Naoghuman opened #47 "Missing license hint in ReadMe and files from project."
Missing license hint in ReadMe and files from project.

a) When I read the ReadMe I see some `badges` from 'img.shield.io'. The badge for the license is there missing :) .
b) No resource, either java file have an license hint. I see that the files in the package `com.dlsc.preferencesfx.formsfx.view.renderer` have a license hint for the apache 2.0.

I can prepare a PR if you are interested?

[2018-12-13 20:08] Naoghuman opened #48 "Missing legend with quicklinks in the ReadMe."
Missing legend with quicklinks in the ReadMe.

In your amazing ReadMe I missing after the start section the `legend` with the quicklinks in the ReadMe which allowed the interested to jump quickly the section from interest.

Have a look in the ReadMe from https://github.com/openjfx/samples after the section 'Description'. When you want I can create a PR.

[2018-12-14 20:48] martinfrancois commented on #48
Hi @Naoghuman

Thanks for the suggestion!
In fact, over at https://github.com/dlemmermann/WorkbenchFX we do have a table of contents. Feel free to implement it and submit a PR.

Thanks!
François

[2018-12-14 20:55] martinfrancois commented on #47
Hi @Naoghuman,

I think we don't have it there since there is now a feature on Github to define the license. If you have a look at the "Code" tab here, next to "11 contributors" it says: "Apache-2.0". I think this should be sufficient and since this is a universal way to specify the license on github, it should be clear.
Also you can see that in the root of the repository there is a file called "L

[2018-12-14 21:05] martinfrancois commented on #23
@Naoghuman like I mentioned, the name `description` may not be ideal. As proposed in my previous comment, I would happily merge a PR that implements such a change if it benefits the readability.

[2018-12-15 16:17] Naoghuman commented on #47
I know this new feature where can readed what a license make and not. Its the first time that this feature is an argument to not include an advice in the sourcefiles :)

So when the license advice not needed why don't cleanup these files which have momentary one? So the projects files are consistence...

[2018-12-17 19:35] martinfrancois commented on #47
The project files are consistent - in a way that the license header included in the files taken and modified from the FormsFX project is kept. I think if we would remove it here, we probably would need to do it in FormsFX too, to maintain consistency.
Ultimately, this is to be decieded by @dlemmermann. What do you think?

[2018-12-17 19:39] martinfrancois commented on #48
Merged PR #49.

[2018-12-17 19:39] #48 closed

[2018-12-17 19:40] martinfrancois commented on #43
Since there hasn't been any feedback in a while, I'm closing this, assuming the issue is resolved. Please reopen an issue if you still have any questions.

[2018-12-17 19:40] #43 closed

[2019-01-09 09:50] ArvidNy opened #50 "Wrong versions for dependencies?"
I just tried to add this library to a Gradle project, but the synchronization fails.

[code]
When I was looking at the [Maven Repository](https://mvnrepository.com/artifact/com.dlsc.preferencesfx/preferencesfx-core/11.1.0), it seems like the most recent version is 9.0.0. org.eclipse.fx.ui.controls also requires a higher version number (3.3.0) than the repository has (2.5.0). Or am I just missing s

[2019-01-09 14:38] dlemmermann commented on #50
Which Java version are you using? 8, 10, or 11+?

[2019-01-09 14:50] dlemmermann commented on #50
Oh, stupid me. I can tell from your snippet that you are using 11. In this case: the 9.0.1 release of ControlsFX is a snapshot release and the repo for the snapshots is listed in the pom.xml file of the preferences-core module. However, sometimes the snapshot is not available and a build might fail. We all have to wait for a final release of ControlsFX that will support Java 11. It just isn't ther

[2019-01-09 15:44] ArvidNy commented on #50
Oh, I didn't notice that the releases are only meant for the corresponding Java version. I'm actually using Java 8, but neither of the other releases worked for me either - they all require the snapshot release. Is Java 8 no longer supported?

[2019-01-09 15:47] dlemmermann commented on #50
PreferencesFX still supports Java 8, of course, everybody is still using that. So if you are using Java 8, then you should work with the "master" branch (if you fork it). If you use a tool like Gradle or Maven then you need to reference version 2.1.0.

[2019-01-09 15:50] dlemmermann commented on #50
The PreferenceFX version for Java 8 does not use the snapshot version of ControlsFX. Only the versions for Java 10 and 11 do that. So you should be fine. If your build continues to search for the 9.0.1-SNAPSHOT release of ControlsFX then you have some other configuration error in your build.

[2019-01-09 16:03] ArvidNy commented on #50
You're right, that's not the error I get with the 2.1.0 release, but rather an error regarding the other dependency I was referring to.
[code]

[2019-01-09 16:06] dlemmermann commented on #50
You need to add the best bestsolution.at repository also:

<repository>
    <name>BestSolution e(fx)clipse releases</name>
    <id>efxclipse-releases</id>
    <url>http://maven.bestsolution.at/efxclipse-releases/</url>
</repository>

[2019-01-09 18:49] ArvidNy opened #51 "Add icons"
I was just wondering if you plan on supporting icons for the tree items? Something like this:

![treeviewicons](https://docs.oracle.com/javafx/2/ui_controls/img/tree-view-hr1.png)

I am investigating the possibility use your library instead of our own settings dialog with tabs, and being able to use the same icons would ease the transition for the users.

![options](https://user-images.githubuserc

[2019-01-10 22:55] martinfrancois commented on #51
I think the idea of both sounds great. The first one should be quite easy to do, as `TreeItem` already supports adding icons, so it would be more a matter of extending the API and setting the icons for each category. Feel free to submit a PR!

[2019-01-12 12:07] ArvidNy commented on #51
Sure, I could submit a PR for this issue. I took a quick look and, as you said, it was quite easy to add.

As for the other one, I started looking at that one as well and I did manage to pass a node to a group (simplified: `Group.of(groupName, Setting.of("Output:", resolutionItems, resolutionSelection)).addGroupNode(new ImageView(new Image(image))` -> _Group.java_ `preferencesGroup.setGroupNode(no

[2019-01-12 12:42] ArvidNy opened #53 "Invalid preferences format"
For some reason, I get the above error each time I try to open previous settings. After some investigation, this seem to be because of characters that are stored that the preference file does not support. This is an example of a preference:

[code]

Note how it says e.g. `&#29;` instead of the character it is supposed to show. Removing those characters made the preference file open again. Changing

[2019-01-14 08:50] ArvidNy commented on #53
I happens with any kind of string, including the demo strings. Not sure if this might be an OS-related issue? I'm using Manjaro Linux.

[2019-01-14 09:20] ArvidNy opened #54 "Add custom preference key"
In our current setup, we have chosen not to use the Java Preferences API for various reasons. For instance, we want our advance users to be able to manually edit/add settings and we want users to be able to send their settings file to us in case we have problems recreating an issue. I found out you have the option to add a custom StorageHandler which is great for us, since it allows us to store th

[2019-01-14 09:31] ArvidNy commented on #51
In case anybody else would be interested in adding custom preferences, I took another look at it and realized I could extend the SimpleControl class and add any nodes I wanted, even though there wasn't a proper Field for it yet. Until it's officially supported, I've created a ColorPicker preference and a DirectorySelector preference. Just contact me in case you'd need help getting going with this.

[2019-01-15 13:09] martinfrancois commented on #53
Might be OS related, I will have a look if I can reproduce this issue with Manjaro.

[2019-01-15 13:18] martinfrancois commented on #54
Hi @ArvidNy, thanks for your question!
It seems to me that there is a misunderstanding. You mention the "breadcrumb hash", this is an implementation detail that is specific to the default storage handler. In fact, if you're implementing your own `StorageHandler`, the `breadcrumb` you get passed in the methods is reflecting the path to the setting including the setting name, delimited with `#`. So

[2019-01-15 14:57] ArvidNy commented on #54
Thanks for the reply! Well, the main idea behind my suggestion is for us to keep using the keys we already have, instead of relying on the breadcrumb (hashed or not). You are right about the hash approach taking place in the `StorageHandler`, so sorry for leading you off with that. We haven't named our settings after a predictable pattern, so being able to pass it directly to the `Setting` and fro

[2019-01-20 15:47] martinfrancois commented on #51
Yes, you correctly understood that you could use a custom field for that.
Feel free to submit a PR including a custom color picker control and directory selector, I think they would make great additions!

Regarding the image, maybe we could think about adding icon support to groups as well as we did now with categories? I don't know if the large image below a group name would be appropriate for a

[2019-01-20 16:04] martinfrancois commented on #54
Nevermind about that, thanks for the perfect explanation, now I fully understand what you mean!

I see the case now and I agree that it would also present a good addition, especially to help people migrate to PreferencesFX!

The only thing I would suggest would be to name the method `customKey` instead of `setCustomKey`, to fit the fluent API a bit better.

Feel free to implement it and submit a P

[2019-01-20 19:18] martinfrancois commented on #53
Hi @ArvidNy
I was now able to reproduce this issue in Manjaro.
I noticed that when saving the preferences, it would use this key (sha256 hash): Y<Z�Z���c��4��O'W٢��� +K�
Instead of the correct encoding for this hash, which would be: 593c5a0b845a1d869db3631caefc34bcbc194f2757d9a2d001bd98002b1e4bad

Therefore, I implemented #hashHi @ArvidNy
I was now able to reproduce this issue in Manjaro.
I

[2019-01-21 16:13] ArvidNy commented on #51
Sure, I'll try to make a PR for those as well.

You might be right that perhaps there's not many projects apart from us that would want that kind of images. In this scenario, we might as well set the images as smaller group icons (similar to the TreeItem icons), but we also would like to add a QR image to one of the tabs where it wouldn't be ideal to have it that small. Right now, I've solved it b

[2019-01-21 16:19] ArvidNy commented on #53
Just checked this out and it seems to work now. I didn't get any warning saying that the keys would be migrated, just the previous warning saying it had an invalid preferences format, but after that it worked as expected. However, since no settings have been successfully stored before, no settings had to be migrated anyways. I supposed that's only relevant/valid for user without these issues.

[2019-01-22 19:12] ArvidNy commented on #53
That's correct, @martinfrancois.

[2019-01-29 10:15] Rykee opened #64 "Null control character in the hash of breadcrumb"
Hello!

I tried this little example:

[code]

At the show() method I got an exception:
[code]

The hashed breadcrumb contains a null control character which if prohibited in the key of a preference.
The breadcrumb: `Test#TestGroup#Test Setting`
The hashed breadcrumb: ![image](https://user-images.githubusercontent.com/11543371/51900875-aa518500-23b6-11e9-97eb-ed359f335518.png)
The null control char

[2019-01-29 12:12] martinfrancois commented on #64
Hi @Rykee, yes that's correct, it's fixed in #55. We will release a new version shortly.

[2019-01-29 12:12] #64 closed

[2019-02-11 08:35] Rykee commented on #64
@martinfrancois Could you give an ETA on the release date?

[2019-02-12 15:31] integratedmodelling opened #65 "File/Directory setting type with chooser?"
I'd love to use PreferenceFX but I'm held back by the lack of a setting that would allow the user to pick an existing or new file/directory from the file system. Seems to be a pretty general-purpose setting and I'm surprised it's not been asked about. Is there any plan to add that, or any easy workarounds that I've missed? I may eventually put some resources towards implementing it myself, but tha

[2019-02-15 13:17] ArvidNy commented on #65
You might want to take a look at [this PR](https://github.com/dlemmermann/PreferencesFX/pull/62) where I've made a simple directory chooser. Ideally this should be implemented in a better way in the future, but this works without any changes to the library. It should also give you an idea of how to make other custom preferences if you find anything else that's missing.

[2019-02-22 19:33] aang7 opened #66 "How to Wrap root with another parent?"
Hi Just a question, is there a way to wrap the preferencefx window content into another Node?
I just want to wrap all the content in a stackpane... thank you.

[2019-02-23 23:01] martinfrancois commented on #66
Hi,
Yes that's possible. Check the "node" demo to see how it works: https://github.com/dlemmermann/PreferencesFX/tree/develop/preferencesfx-demo/src/main/java/com/dlsc/preferencesfx/node
You can also clone this repository and run the demo application to see it in action.
Hope that helps!

[2019-02-23 23:01] #66 closed

[2019-03-21 14:51] Adyel commented on #53
This needs to be fixed for JDK8 too. Can you please update. @ArvidNy

[2019-04-01 15:23] ArvidNy commented on #53
@Adyel, this works for me with JDK8 now. If you still have issues, you should provide @martinfrancois and the other members of the project with more information about what you are experiencing and I'm sure they'll help you out when they get the chance. A way around it is to create your own store handler class where you could set it up to store the preferences any way you'd like, using [this class

[2019-05-09 02:26] jeacott1 commented on #65
I have a similar issue for lack of a font/size/style chooser

[2019-05-23 07:58] elyday opened #68 "Cancel Button doesn't restore original values"
Hello,

I am currently trying to use PreferencesFX and I have encountered a problem or even a bug directly.

I created a simple demo application with PreferencesFX, with a StringProperty, an IntegerProperty and a BooleanProperty. I put a listener on the StringProperty, which always gives me the latest content when changes are made.

[code]

This allows me to see that the changes are not undone whe

[2019-05-24 06:55] elyday commented on #68
I checked out the develop branch once, because I actually intended to write for a fix here, and I noticed that this bug has already been fixed in the develop branch.

Maybe they are ready to release a new version with this fix?

[2019-05-24 10:19] martinfrancois commented on #68
Hi,
Thanks for the detailed explanation!
The fix for this bug was already implemented in #56.
We will likely make a new release soon, in the meantime you can build the develop branch and install PreferencesFX in your local repository to use it.

[2019-05-24 10:19] #68 closed

[2019-05-25 17:43] Megerian opened #69 "Is PreferencesFX compatible with JavaFX 11?"
Hello.

I like to use PreferencesFX in my project. It looks really great!
Does PreferencesFX run without problems with JavaFX11 / JavaFX12, too?

[2019-05-27 08:19] Megerian commented on #69
I've just seen that there is a Release 11.1 which works. Great!

[2019-05-27 08:19] #69 closed

[2019-05-31 04:55] gallandarakhneorg opened #70 "Invalid dependency into Maven Central"
The stable release 11.1.0 of PreferencesFX on Maven Central has a SNAPSHOT dependency.

It avoid to use a version greater than 2.1.0.

[2019-06-06 00:22] p1r9t3 opened #71 "How to add more categories and groups to existing dialog"
Is there a way to define a PreferencesFx object in my base project, and then have other modules grab that PreferencesFx object and add their own Categories/Groups/Settings to it? I can't find a way to access anything that allows me to pass more Category.of(...) into.

[2019-06-23 17:54] p1r9t3 opened #72 "Subcategories not displayed when only one main category"
When creating the menus, if there is only one main category with a sub-category... it just displays as a single settings window with no option to open the sub-category.

[2019-06-24 14:42] p1r9t3 opened #73 "Required Fields Enhancement"
In FormsFX there is the ability to add required fields.  We can currently use validators, but it would be nice to be able to mark a field as required.  When exiting the window where a save would be called, validate the whole form and prevent closing if any required fields are not filled in.

As a side effect, having a non-required field that is invalid would have to be carefully scruitinized, beca

[2019-06-24 14:49] p1r9t3 opened #74 "Conditional settings enhancement"
Settings should be allowed to have sub-settings that are shown/hidden conditionally on the value of the parent.  Example: I have a checkbox that enables/disables an additional part of my application.  I don't want the settings for that part to be available unless the parent function is enabled, so having the option to display a Group/Groups only if the value of the parent is 'True' would be a nice

[2019-06-24 17:37] p1r9t3 commented on #72
Submitted pull request to fix this issue.

[2019-06-25 05:50] sdp0et commented on #21
if StorageHandlerImpl used
`PreferencesFactory.userRoot()`
to get an instance of Preferences instead of
`preferences = Preferences.userNodeForPackage(saveClass);`

wouldn't this allow a user to provide a custom Preferences/PreferencesFactory implementation without needing to create a new StorageHandler implementation that essentially duplicates it but with the custom Preferences implementation?

[2019-06-27 14:50] seamlik commented on #53
@ArvidNy He means this should be fixed in the JDK 8 branch of PreferencesFX. Apparently it is not the fix has not been merged for that branch. For now I am using version 2.1.0 and the bug remains.

[2019-07-12 20:29] sclassen opened #78 "Too many Dependencies"
PreferencesFX has many dependencies which themselves bring more transitive dependencies.
For a library which will be used in other projects this is sub optimal as it can easily lead to dependency hell.
For example: currently PreferencesFX has two versions of guava as its dependencies (27.0.1-jre and a shaded 21.0.0)

![dependencies](https://user-images.githubusercontent.com/1795224/61156728-64b3ef

[2019-07-14 18:37] martinfrancois commented on #78
Hi Stephan,
Sure, feel free to submit a PR for that, as long as we don't break any licenses in the process 😉
But I think for sure the shaded dependency on Guava 21.0.0 is something that would make sense and is doable without much effort.

[2019-07-17 09:59] ArvidNy commented on #53
@seamlik, as far as I can tell the fix #55 is merged into the main branch, they just haven't created a new release yet. I also look forward to the next release but I suppose they've been busy and haven't been able to work on the project for a while.

[2019-07-17 10:13] ArvidNy commented on #65
@jeacott1, can't you just use a combobox for setting the font and style and a integer/double range for the font size? We load the system fonts for our project into combobox [like this](https://github.com/quelea-projection/Quelea/blob/e3801feef989c5a620c74d1511422e9998355c98/Quelea/src/main/java/org/quelea/windows/options/PreferencesDialog.java#L131-L132), using [this code](https://github.com/quele

[2019-07-19 08:25] martinfrancois commented on #78
Closing since #79 was merged.

[2019-07-19 08:25] #78 closed

[2019-07-19 08:32] martinfrancois commented on #74
While this is not possible currently with a convenience method, it is possible to add and remove settings at runtime. So in your case you could add or remove the settings you mentioned by listening to a `BooleanProperty` for changes that you attach to the checkbox you mentioned.

Of course, I still agree introducing some kind of convenience method to handle that more neatly would make sense.
What

[2019-07-19 08:39] martinfrancois commented on #73
This presents a nice addition in my opinion, feel free to create a PR that implements this!

Regarding your point about the invalidity, that's a good point. I think it depends on what the intention is. I can think of cases where for example you could specify an email address to send automatic reports to, or if the field is not filled, it wouldn't do that. In this case it would make sense to not ha

[2019-07-19 08:47] martinfrancois commented on #71
This is possible by creating a new `PreferencesFx` object every time you show the Preferences, making sure you use the same class as the storage key, you can always pass in less or more settings / categories.

Although I admit this is not as elegant as having the possibility to add them at runtime by calling for example `preferences.getCategories()` along the lines of how it works with `getChildre

[2019-07-19 08:50] martinfrancois commented on #70
Hi @gallandarakhneorg
I'm not sure, but do you mean the snapshot dependency to ControlsFX? This was necessary, since for a long time there was no ControlsFX release that supported Java 9 and up outside of this snapshot release.
However now that ControlsFX 11.0.0 is released, we should switch to this version instead.
Is that what you meant?

[2019-07-19 08:51] martinfrancois commented on #13
Implemented in #63

[2019-07-19 08:54] martinfrancois commented on #42
I'm glad this could be resolved for you! I'm closing this issue then, feel free to reopen it should there be anything left.

[2019-07-19 08:55] #42 closed

[2019-07-19 08:56] martinfrancois commented on #54
Implemented in #60

[2019-07-19 08:56] #54 closed

[2019-07-19 08:57] martinfrancois commented on #51
Implemented in #52

[2019-07-19 08:57] #51 closed

[2019-07-19 09:00] martinfrancois commented on #53
@seamlik yes, @ArvidNy is correct. It's fixed, but not released yet. We are working on getting out a release soon. Thanks for your patience!

[2019-07-20 06:14] p1r9t3 commented on #74
I'm not sure just yet, but I've been doing some playing with the code to see if I can implement this... something along the lines of Category->Subcategory->Setting->Subsetting where the subsetting visibility is bound to a property of the setting like you said.  Once I have a better plan in place I'll post it here.

[2019-07-20 06:17] p1r9t3 commented on #73
Agreed.  It would implement the validators that are currently there to handle whether the value is valid or not (a possible addition would need to be not allowing close/save with an invalid value in there, or at least an alert before the value gets wiped out.

The second would be to add a required property to the fields themselves, and then when closing the window check to make sure that required

[2019-07-20 06:24] p1r9t3 commented on #71
As a workaround for this, instead of having my modules add to the preferences object, I'm using Spring to search for all of my modules and then using a common interface, each module is required to return Category[] which is then added to the preferences object the first time it's built.

[2019-07-20 11:28] martinfrancois commented on #72
Fixed in #76

[2019-07-20 11:28] #72 closed

[2019-07-20 17:02] martinfrancois commented on #65
Implemented in #67

[2019-07-20 17:02] #65 closed

[2019-07-20 17:02] martinfrancois commented on #70
Implemented in version `8.3.0` and `11.3.0`

[2019-07-20 17:02] #70 closed

[2019-07-20 17:07] martinfrancois commented on #74
What about the following:
[code]
Along the lines of the standard visibility implementation in JavaFX nodes?

[2019-07-21 02:25] p1r9t3 commented on #74
That could work. I'm trying to work out a way to implement this at the group / property level. I'll keep you posted on my progress.

[2019-07-23 15:41] martinfrancois commented on #68
Hi @elyday
The fix for this issue was included in release `8.3.0` (for Java 8) and `11.3.0` (for Java 11), which has just been released.

[2019-07-23 15:41] martinfrancois commented on #64
Hi @Rykee
The fix for this issue was included in release `8.3.0` (for Java 8) and `11.3.0` (for Java 11), which has just been released.

[2019-07-23 15:41] martinfrancois commented on #53
Hi @Adyel @ArvidNy @seamlik
The fix for this issue was included in release `8.3.0` (for Java 8) and `11.3.0` (for Java 11), which has just been released.

[2019-07-23 15:41] martinfrancois commented on #72
Hi @p1r9t3
The fix for this issue was included in release `8.3.0` (for Java 8) and `11.3.0` (for Java 11), which has just been released.

[2019-07-23 15:41] martinfrancois commented on #65
Hi @integratedmodelling @ArvidNy @jeacott1
The fix for this issue was included in release `8.3.0` (for Java 8) and `11.3.0` (for Java 11), which has just been released.

[2019-07-25 12:55] ArvidNy opened #80 "Show() cannot be called twice?"
I've just been trying out the new release and I'm really grateful for the additions that have been made for this release! However, as far as I can tell the PreferenceFXDialog cannot be closed and reopened with the current code, since modality is always set on show() but the modality cannot be reassigned if it's already been shown:

[code]

Please correct me if I'm missing something here.

[2019-07-28 00:21] martinfrancois commented on #80
Hi @ArvidNy
Thanks for the praise!
Which JDK are you using, which OS and which version of PreferencesFX?
I noticed this behavior under Java 11, which is why I made a fix (https://github.com/dlsc-software-consulting-gmbh/PreferencesFX/commit/c32cb6753dce1a98726437a8ee06c99a1f9b763f), which is included in the 11.3.0 release. I didn't observe this behavior with Java 8, which is why I only applied the

[2019-07-30 14:12] ArvidNy commented on #80
Manjaro Linux, the most recent release of PreferencesFX for Java 8 and JDK 8 (1.8.0_202-b08). Just noticed that there's a more recent version of Java that I haven't tried so that might be it. Won't be able to check in a couple of days however.

[2019-07-30 20:17] #80 closed

[2019-07-30 20:32] martinfrancois commented on #80
Hi @ArvidNy
Thanks for reporting back!
I just fixed the issue in the Java 8 branch as well and created a release with version `8.3.2`. It's available on Bintray as of now and should be available from Maven Central in about 2 hours.
Please try it and report back, if it worked for you.

[2019-08-01 13:31] ArvidNy commented on #80
Seems to be working now, thanks!

[2019-08-05 10:55] ArvidNy opened #83 "Set default view/Show first subcategory"
I'm trying to add subcategories to the first tab, but I haven't been able to show the first subcategory directly. Is this possible with the current code? Since the main category is empty, it doesn't make sense for us to show that - I think that would only confuse our users.

![empty tab](https://user-images.githubusercontent.com/14236185/62459623-2e2e6480-b780-11e9-8ac6-99b618c64be2.png)

[2019-08-15 06:12] trixon opened #85 "How to read preferences from command line mode?"
I'm switching an app to WorkbenchFX and in that process I'm also looking into PreferencesFX.
The app in question can after being run and configurated in gui mode be used from the command line.

Is it correct that reading preferences produced by PreferencesFX requires the fx toolkit to be initialized?

In order to read them I came up with
[code]
The preferences class here is https://github.com/dlsc

[2019-08-17 08:31] martinfrancois commented on #85
Hi @trixon
This is actually a use case we didn't think of, but it makes sense!
Actually I think with the current implementation of PreferencesFX, yes, your solution is probably the easiest way to read them.
However, I could imagine it would make sense to offer a way to load the preferences without initializing the toolkit, however I can't imagine at the moment a way that wouldn't require us to do

[2019-08-17 08:47] martinfrancois commented on #83
Hi @ArvidNy
That's a good point! We didn't really think of this, but this use case makes sense.

Maybe it would make sense to add a method like `setCategoryShown(category)` which changes the currently shown category to the one passed in as a parameter. Then, after showing the preferences you can call `setCategoryShown(category 1)`, which would make it look for the user as if it was the default.
I

[2019-08-17 14:23] ArvidNy commented on #83
Sure, a method like `setCategoryShown(category)`, would be a great addition too! However, I gave it a try after I created this issue and found another approach where I could make an empty category always open the first subcategory. I'll create a PR for that branch, but I'm not sure if I will find the time to create one for a `setCategoryShown` method too.

[2019-08-18 06:18] trixon commented on #85
Hi @martinfrancois

I have not done a real implementation yet, I was looking for a way forward, but I will begin now.

I don't think that simple properties rely on the toolkit, the following works anyway.

[code]

[2019-08-19 17:56] martinfrancois commented on #85
Interesting... Actually, then I could imagine a way we could do this is to postpone the initialization of the GUI elements (essentially in `PreferencesFx.init()` everything after `preferencesFxModel.loadSettingValues();`) to only run when either `getView()` or `show()` is called for the first time. That way, you don't need to initialize the toolkit and can access all of the property's values on th

[2019-08-19 18:22] martinfrancois opened #87 "Allow the default category to be defined"
Refactor the DEFAULT_CATEGORY into a property in the model (defaultCategoryPropety) and allow it to be set via a method in `PreferencesFx` like `defaultCategory(...)` that can be used for chaining, just as `dialogTitle()` for example. Then, in the `PreferencesFxModel` you just have to change: `setDisplayedCategory(getCategories().get(DEFAULT_CATEGORY));` to check if the property is set, and if it'

[2019-08-19 18:23] #83 closed

[2019-08-23 06:41] trixon opened #91 "Locale setting type"
Inspired by the Color setting I started working on a java.util.Locale setting.
It kind of works but I have two problems.

1. The setting _stored_ is the setting _displayed_ (in the SimpleComboBoxControl)
In order for this setting to survive a language change and be human readable I must _store_ the locale.toLanguageTag() and _display_ locale.getDisplayLanguage().

2. Having about 160 locales, Simp

[2019-08-23 11:06] martinfrancois commented on #91
First off, cool, I'm pretty sure that would make a great addition to PreferencesFX!

1. If I understood your issue correctly, you could use the `Locale` objects as items directly for the `Combobox` and then by calling something like `setCellValueFactory( locale -> locale.getDisplayLanguage() )` on the combo box control directly you can customize it to show the locale in the way you want it to be.

[2019-08-24 11:27] trixon commented on #91
I avoided extending SimpleComboboxControl, but I'll do just that.

[2019-08-25 11:16] martinfrancois opened #94 "Add caching for the search"
Currently, the search in `SearchHandler` goes through all options, making them lowercase every time.
Implement a caching mechanism to make the search faster. For example, by introducing a second list which contains all names in lowercase already, so only the search term needs to be made lowercase, which could also happen in a second property, which reflects changes in the search term character by

[2019-08-30 15:21] trixon commented on #71
Hi @martinfrancois
I was happy to see this workaround but I can't get it to work.
On the second call I get 'IllegalStateException: Cannot change a control's field once set.'
I can reproduce this in the WorkbenchFX demo too by duplicating the line
[code]
https://github.com/dlsc-software-consulting-gmbh/WorkbenchFX/blob/60a7e5fef4c2c3c8fcfda9561bfac2abcc49a9b4/workbenchfx-demo/src/main/java/com/dlsc

[2019-08-30 16:53] aang7 opened #98 "Save Ui Properties"
Not an issue, but I want to know if there is a way to save for example a Splitpane Divider Position using PreferencesFX, is there a way? Thank you.

[2019-09-01 14:01] martinfrancois commented on #98
Hi @aang7
I see what you mean - currently we don't have support to persist and load settings without having them shown in the GUI as well, is that what you meant? I could imagine a splitpane divider position would be something you wouldn't want to show a user in the settings, but would still like to save it.

I think this would make a great addition to PreferencesFX, it makes sense, since you alre

[2019-09-01 14:02] martinfrancois commented on #91
@trixon did it work?

[2019-09-02 17:12] trixon commented on #91
@martinfrancois I have not got around to it yet, it's on the list though.

[2019-09-02 20:53] aang7 commented on #98
I would like to try :)
How can I start?

[2019-09-02 21:22] aang7 commented on #98
Oh taking advantage of the moment, I just get the next exception trying to get the view and using another stage/scene and for some reason I get a NullPointerException while setting the scene:

`Exception in thread "JavaFX Application Thread" java.lang.NullPointerException
	at com.dlsc.preferencesfx.view.PreferencesFxPresenter.lambda$setupEventHandlers$1(PreferencesFxPresenter.java:53)
	at com.sun.

[2019-09-07 08:57] martinfrancois commented on #98
@aang7 Concerning your first comment on how to start:
As mentioned above, I would first add a method to `PreferencesFx` where you can pass global settings to be saved. Then, have a look in the `PreferencesFxModel` class at the methods `loadSettingValues` and `saveSettings` in their current implementation, you would need to extend them to also load and save the global settings as well. If you need

[2019-09-07 09:40] martinfrancois opened #128 "Exception thrown when using PreferencesFX as a node in a new window"
As reported in: https://github.com/dlsc-software-consulting-gmbh/PreferencesFX/issues/98#issuecomment-527244821

To reproduce:
preferencesfx/demo/standard/DemoView.java:
[code]
Then, click on `click` button. Exception gets thrown as reported in issue.

[2019-09-07 09:43] martinfrancois commented on #98
Concerning the second thing you mentioned: We didn't foresee people wanting to use PreferencesFX as a node in a new window, which is why an exception gets thrown in this case, since in `PreferencesFxPresenter` the call to `newScene.getWindow().addEventHandler(...)` results in a `NullPointerException`, because `newScene.getWindow()` is `null`, since the `Scene` is created before the `Stage` is effe

[2019-09-07 10:26] #128 closed

[2019-09-07 11:32] #10 closed

[2019-09-07 20:40] #40 closed

[2019-09-15 15:34] trixon opened #132 "Feature request: PreferencesFx.of(java.util.prefs.Preferences..."
While adding PreferencesFX to a NetBeans Platform application I noticed that my settings where scattered.

On Linux, a NetBeans Platform application store its settings in a directory like ~/.MYAPP while PreferencesFX defaults to ~/.java/.userPrefs/...

With NbPreferences.forModule(Class c)
https://bits.netbeans.org/dev/javadoc/org-openide-util/org/openide/util/NbPreferences.html#forModule-java.lan

[2019-09-17 15:28] trixon commented on #91
@martinfrancois
Ok, this is what I have so far, and it looks likes it's working.
[code]

[code]

A couple of things...

1. I'm not that happy about the reflection part, it was just a way forward. Could we add a getter for the combobox or make it default/protected?
2. I had to came up with a unique method signature since the color setting already "claims" of(String description, ObjectProperty<> pro

[2019-09-17 15:45] trixon opened #133 "Clearable search field"
Replacing
https://github.com/dlsc-software-consulting-gmbh/PreferencesFX/blob/d09c87bc32d74afcd3e33ff7c3ebc73cb1fffc44/preferencesfx/src/main/java/com/dlsc/preferencesfx/view/NavigationView.java#L65
with
`        searchFld = (CustomTextField) TextFields.createClearableTextField();`
adds a small clear button to the search text field.

It would be nice to have.

[2019-09-17 19:56] trixon opened #134 "Color leakage in OneCategoryLayout"
When having a OneCategoryLayout on a custom WorkbenchFX style I'm getting two unwanted artifacts.
1. The purple row where the undo/redo buttons are.
2. A thin purple box around all the settings. (ok, the background, not a box)
![2019-09-17-214312_1049x835_scrot](https://user-images.githubusercontent.com/153314/65074465-2d9b0780-d995-11e9-8d3b-ec3a69d107f7.png)

By replacing https://github.com/dlsc

[2019-11-14 17:43] trixon opened #150 "UndoRedoBox Button colors"
Black icons on dark gray are hard to read.

Is it possible to change the glyph colors of the buttons in the UndoRedoBox?
I'm not able to do it, they have no id or style class I can define.
I tried a sledge hammer change with
.glyph-font{
    -fx-text-fill: orange !important;
}
but that only changed the looking glass icon in the filter box.

[2020-02-09 05:46] incendium commented on #64
I am running into this issue in `11.6.0`.  Under a fresh project, it still tries the invalid hash after it is unable to find an existing preference with the valid hash.

Stack trace:
[code]

[2020-02-09 14:20] svedie opened #176 "Using PreferencesFX with a Database"
Hello Devs,

is it possible to use the PreferencesFX with a database behind?

Will be the Preferences Object saved or can I save the preferences individually using the the breadcrumb as key and the setting as value?

Do I need only to implement the `StorageHandler`?

If I use the PreferencesFX, how I can I get the preferences individually? Do I need to "note" the breadcrumbs somewhere?
For eample

[2020-02-09 21:10] incendium opened #177 "Custom FormsFX control does not work"
I am running into an issue trying to create a password field.  When I try to use the `Setting.of` call which takes a custom FormsFx control (PasswordField), PreferencesFx fails with a ClassCastException.

Stacktrace:

[code]

Code in question (Kotlin + TornadoFX):
[code]

Full demo project: https://github.com/incendium/preferencesfx-custom-formfx-field

[2020-02-25 12:23] #176 closed

[2020-06-12 05:52] DaveJarvis opened #202 "StringProperty as TextArea"
It is possible to create multi-line fields, for example:

[code]

This produces:

![preferences](https://user-images.githubusercontent.com/2131950/84469240-71295600-ac35-11ea-8e39-05d1185a659c.png)

Questions:

* Can the input field be multi-line without requiring an unchecked assignment?
* How can the default row count (5) be changed?
* What setting top-aligns the label with the text area?

If th

[2020-08-31 08:15] #11 closed

[2020-09-23 09:21] Dansoftowner opened #267 "Gradle build fails"
Execution failed for task ':compileJava'.

     Searched in the following locations:
       - https://repo.maven.apache.org/maven2/de/jensd/fontawesomefx-commons/11.0/fontawesomefx-commons-11.0.pom
       - https://repo.maven.apache.org/maven2/de/jensd/fontawesomefx-commons/11.0/fontawesomefx-commons-11.0.jar
       - https://jitpack.io/de/jensd/fontawesomefx-commons/11.0/fontawesomefx-commons-11.

[2020-09-30 20:38] norbert-gaulia commented on #64
Is there any plans to merge this commit?  deprecatedHash() is total show stopper now

[2020-10-12 13:27] nicoi15 opened #272 "How to add a node into Setting.of(Node) and be able to save the data inside the node?"
Hi, I am creating a node and wanting it to be inside the preferencesFx if the user selects the category "Some Category". How would I be able to properly implement it? or is there a better way to implement it rather than putting the node inside the Setting.of()?

AnchorPane ap = new AnchorPane();

TextField tf = new TextField();
TextField tf2 = new TextField();

Button addBtn = new Button("Add");
B

[2020-10-12 18:25] #272 closed, assigned to nobody

[2020-11-10 02:41] fujohnwang commented on #132
+1,  in order to export preferences, I have to use java reflection to access model -> storage handler -> preferences, may be a public StorageHandler ref will suffice.

[2020-11-11 15:36] ssinnorr commented on #267
Hey dude!

I had the same problem, you just need to add "jcenter()" to your repositories in build.gradle file, like this:

`repositories {
    jcenter()
}`

[2020-11-13 03:41] fujohnwang commented on #64
11.6.0, still same problem

[2020-11-13 03:50] fujohnwang opened #286 "I am running into this issue in `11.6.0`. Under a fresh project, it still tries the invalid hash after it is unable to find an existing preference with the valid hash. This problem goes away if I implement a custom storage handler which bypasses the legacy hash fallback."
I am running into this issue in `11.6.0`.  Under a fresh project, it still tries the invalid hash after it is unable to find an existing preference with the valid hash.  This problem goes away if I implement a custom storage handler which bypasses the legacy hash fallback.

Stack trace:
[code]

_Originally posted by @incendium in https://github.com/dlsc-software-consulting-gmbh/PreferencesFX/issue

[2020-11-13 03:50] fujohnwang commented on #286
I encounter same problem and had thought it's a problem of JavaPreferences API or input method thing.

[2020-11-20 16:01] sreese4u opened #287 "General guidance: List of custom objects?"
This library looks really fantastic. I went through the docs but can't find the solution for my problem.
Could I use this library for the following use case?

I want to have a category called "cars". I want to add new cars to a list. The preferences dialog should have an "add car" button. A new dialog with fields for the car will open (color, brand, price). Then I click save and a new car appears

[2020-12-02 19:09] marvk opened #292 "deprecatedHash causes IllegalArgumentException in AbstractPreferences"
Consider the following Application

[code]

This simple demo will throw an `IllegalArgumentException`

[code]

The breadcrumb `Painters#null#Fill Color` is being passed to `PreferencesBasedStorageHandler.deprecatedHash(String)`, which returns

[code]

![](https://i.imgur.com/oTcKsht.png)

The cause is the description `Fill Color`. Using, for example, `Fill Colora`, the PrefrencesFx window is being

[2020-12-02 20:20] marvk commented on #292
Duplicate of https://github.com/dlsc-software-consulting-gmbh/PreferencesFX/issues/64

[2020-12-02 20:20] #292 closed, assigned to nobody

[2020-12-04 00:34] ghost opened #293 "What do i need to install for fxFontawsome to load properly? I am getting a rectangle on left side of textfield."

[2020-12-15 18:29] martinfrancois commented on #64
@norbertas-gaulia @fujohnwang and @marvk can you please try 11.7.0 and report back if it works now?

[2020-12-15 18:30] martinfrancois commented on #286
Should be fixed by 11.7.0, can you please confirm?

[2020-12-15 18:37] marvk commented on #64
@martinfrancois updated to 11.7.0 from 11.3.2 and my application is working fine, no perceivable difference so far! Looks good!

[2020-12-15 23:55] marvk opened #294 "Application is put into background when save or use is pressed in advanced color picker"
I've created a Dialog with PreferencesFX.

When selecting a color from the extended color picker and hitting save or use, the application along with the PreferencesFX dialog is put into the background. This does not happen when selecting a color from the simple color picker.

![](https://i.imgur.com/CmA6Kyq.gif)

This happens whether it's a modal or not.

[2020-12-16 15:50] fujohnwang commented on #286
seems OK now ;)

[2020-12-16 15:50] #286 closed, assigned to nobody

[2020-12-17 07:44] ghost opened #295 "Illegal reflective access operation"
[code]

Please avoid reflective calls: they are problematic for ProGuard's optimizations.

[2020-12-18 07:19] ghost commented on #8
A related item is `StorageHandler` imposes that implementations provide `Preferences getPreferences()`. This makes sense for a `PreferencesBasedStorageHandler` but does not make sense for an `XmlStorageHandler` where the backing store is Apache Commons `XMLConfiguration`, rather than a `Preferences` object.

Recommend updating the API to remove the following accessor method from the `StorageHandle

[2020-12-19 18:35] sreese4u opened #296 "Null Pointer Exception with de.jensd.fx.fontawesomefx.commons/de.jensd.fx.glyphs.GlyphsFactory.loadFont(GlyphsFactory.java:64)?"
Any idea why am I getting this on a Mac? I use Java 13. I am calling this method.

[code]

And I am getting this exception.

[code]

I tried adding "fontawesomefx-fontawesome" 4.7.0-11 and "fontawesomefx-commons" 11-0 as Maven dependency (excluded it for preferencesfx-core) but that did not help.

Looks a lot like https://bitbucket.org/Jerady/fontawesomefx/issues/70/nullpointerexception-in.

I deb

[2020-12-20 11:24] sreese4u commented on #296
In case someone wants to patch FontAwesomeFX themselves for it to work, I "documented" it at https://stackoverflow.com/questions/65374578/getresource-method-returns-null-while-loading-font-file-but-why/65376007#65376007.
You have to use the newest (11.0.3 currently) ControlsFX library as well for PreferencesFX to work.

[2020-12-20 11:24] #296 closed, assigned to nobody

[2020-12-20 12:15] sreese4u opened #297 "Possible to edit preferences by using the Preferences class or any other way?"
I have the requirement to delete a category. Is this somehow possible? How would I additionally check whether a category exists, without creating new PreferencesFX object?

[2020-12-27 22:02] ghost opened #298 "Decouple displayed text from property value"
The following code works great when the displayed value exactly maps to the stored value:

[code]

This is analogous to the following HTML:

[code]

HTML permits changing the displayed value and computed value independently:

[code]

Updated documentation showing how this is possible would be useful. For example, with `Locale` objects, we might want to display the value of "Simplified Chinese (Chi

[2020-12-31 01:33] marvk commented on #132
+1 for this, I'd really prefer my settings to be saved in a settings file, not the registry.

[2021-01-19 08:09] ckosmowski commented on #267
The n

This is something that could have been mentioned in the Readme.md?! :-)

[2021-01-19 14:45] fujohnwang commented on #74
a feature I am looking into it too.

I would like to display different settings on some switch setting.

[2021-01-19 15:07] fujohnwang commented on #74
I try this way:

[code]

but failed with exception:

[code]

or:

[code]

both dead end.

[2021-01-19 21:02] midrare commented on #293
This is a bug in `fontawesomefx`. The offending line is in [GlyphsFactory.java](https://bitbucket.org/Jerady/fontawesomefx/src/6cbf97484669c4ab79318a158e1dadf59363c85c/fontawesomefx/fontawesomefx-commons/src/main/java/de/jensd/fx/glyphs/GlyphsFactory.java#lines-62).

Relevant issue [here](https://bitbucket.org/Jerady/fontawesomefx/issues/75/javalangnullpointerexception-cannot-invoke)

[2021-01-20 03:09] fujohnwang commented on #74
I get things done by introducing 2 preferencesFX instance and switch their View on custom dialog.

cheers ;0)

code is here if you want to know the details: <https://github.com/keevol/keenotes-desktop/blob/master/src/main/scala/com/keevol/keenotes/desk/settings/SettingsDialog.scala>

[2021-02-14 05:37] qq1053831109 commented on #34
PreferencesFx.of need after javafx start! but i need in main code use Preferences

[2021-02-14 06:32] qq1053831109 commented on #202
how can set titlebar to dark

[2021-02-24 06:22] ghost opened #309 "Consolidate FontAwesome dependencies"
PreferencesFX uses both [ControlsFX](https://github.com/controlsfx/controlsfx) and [FontAwesomeFX](https://bitbucket.org/Jerady/fontawesomefx/src/master/). ControlsFX provides a thin wrapper for the [FontAwesome TrueType Font](https://github.com/controlsfx/controlsfx/blob/master/controlsfx/src/main/java/org/controlsfx/glyphfont/FontAwesome.java). As far as I can tell, PreferencesFX doesn't use fon

[2021-03-04 02:21] qq1053831109 opened #312 "how can set default value!"
how can set defult value to Preferences?

[2021-03-04 02:58] #312 closed, assigned to nobody

[2021-04-10 20:11] ghost opened #321 "PreferencesFX broken on JDK 16"
The following `FilterableTreeItem` methods fail when running on JDK 16:

[code]

In `build.gradle`, the `add-opens` option seems insufficient to avoid the exception:

[code]

[2021-04-10 20:12] ghost commented on #295
Duplicate of #321 .

[2021-04-10 20:12] #295 closed, assigned to nobody

[2021-04-10 20:35] ghost commented on #297
It doesn't look like there's any easy way to remove a category dynamically. The `PreferencesFx` class uses a `PreferencesFxModel` instance that's populated with the `Category` objects. The model has `getCategories`, which could be used to check whether a category exists. However, the model is inaccessible through any public API.

Keeping a handle to the list of categories used at construction-time

[2021-04-26 09:20] dlemmermann commented on #309
Actually I am inclined to move away from FontAwesomeFX and use Ikonli instead. This is the library of choice for icons for all of my projects.

[2021-04-26 09:35] dlemmermann commented on #321
I have replaced the class with a newer version from the E(fx)clipse project.

[2021-04-26 09:35] #321 closed, assigned to nobody

[2021-04-26 09:36] dlemmermann commented on #309
Removed FontawesomeFX.

[2021-04-26 09:38] #267 closed, assigned to nobody

[2021-04-26 09:40] dlemmermann commented on #150
I have added the style class "undo-redo-box" to the container and "undo-button" and "redo-button" to the buttons.

[2021-04-26 09:40] #150 closed

[2021-04-26 16:48] ghost commented on #309
I don't suppose this could be a build option? My main point was that the font icons were duplicated. Switching from FontAwesomeFX to Ikonli is still duplicating fonts, architecturally: one set for ControlsFX and another set for PreferencesFX. I was looking to reduce the size of the final `.jar` file by consolidating different font resources.

Another possibility would be to switch ControlsFX (and

[2021-04-26 17:01] dlemmermann commented on #309
All of my projects use Ikonli and I do not care much about what ControlsFX uses. But we could make an exception in this case because there are only two icons used anyways: for the undo / redo buttons. If you want to you can submit a PR that changes that. Ideally very soon because on May 1st this project's build pipeline breaks because of bintray stopping its services.

[2021-05-08 09:43] shoaniki commented on #309
Annnd it's happened, just tried to add PreferencesFX to my project and I can't because FontAwesomeFX was only on jcenter.  Please consider making a release without that dependency.

(If this project really only requires two icons, might it be possible to mark the font dependency as optional and let applications provide their own icons if they want?)

[2021-08-22 12:54] gmseed opened #364 "java.lang.IllegalStateException: org.slf4j.LoggerFactory in failed state"
Hi

I downloaded your DemoView/StandardExample and pasted them into an app to see PrefFX working. On running the application I get a slf4j exception:

Caused by: java.lang.IllegalStateException: org.slf4j.LoggerFactory in failed state. Original exception was thrown EARLIER. See also http://www.slf4j.org/codes.html#unsuccessfulInit
	at org.slf4j.LoggerFactory.getILoggerFactory(LoggerFactory.java:42

[2021-08-26 03:19] qq1053831109 opened #371 "how can set icon 2 setting？"
how can set icon 2 setting？

[2021-09-18 18:44] ghost opened #380 "JDK17 illegal access due to reflective call into com.sun package"
With the release of JDK17, all calls to the internal `com.sun` package are forbidden. In particular,  `com.sun.javafx.scene.ParentHelper.setTraversalEngine(...)` is inaccessible. This is caused by `ReflectionUtils.java` attempting to access the `ParentHelper` class, as per:

[code]

The method is used  by`NotificationPaneSkin` to work around a focus issue, and `BreadCrumbBarSkin`.

[2021-09-19 12:17] dlemmermann commented on #380
Was this more tightened in 17?

[2021-09-19 17:01] ghost commented on #380
Yes. JDK 16 had a command-line workaround, `--illegal-access=permit`, that was deprecated. The option is removed in JDK 17. I've logged a bug against ControlsFX, which is the source of the problem that manifests itself in PreferencesFX.

[2021-09-21 16:18] ghost commented on #380
See: https://github.com/controlsfx/controlsfx/issues/1394

[2021-11-01 07:21] signalarun opened #387 "Receving following error while using PreferencesFx"
Exception in thread "JavaFX Application Thread" java.lang.AbstractMethodError: Receiver class org.kordamp.ikonli.fontawesome.FontAwesomeIkonHandler does not define or inherit an implementation of the resolved method 'abstract java.net.URL getFontResource()' of interface org.kordamp.ikonli.IkonHandler.
	at org.kordamp.ikonli.javafx.IkonResolver.<clinit>(IkonResolver.java:42)
	at org.kordamp.ikonli.

[2021-11-11 03:58] #380 closed, assigned to nobody

[2021-12-19 05:24] #309 closed, assigned to nobody

[2021-12-19 05:41] ghost commented on #132
First, inject a custom storage handler that overrides the default behaviours:

[code]

Next, implement that custom [XmlStorageHandler](https://github.com/DaveJarvis/keenwrite/blob/97661c4b65298584571e0e31dcbbf255496abd55/src/main/java/com/keenwrite/preferences/XmlStorageHandler.java#L18) to perform no actions. That is, PreferencesFX will no longer use its own storage handling routines.

Then, defi

[2021-12-22 03:13] ghost opened #413 "TableView expands when adding new elements"
**Replicate**
When adding new rows to a `TableView`, the table expands by two pixels.

1. Create a `SimpleTableControl` that extends `SimpleControl`.
1. Add a `TableView` and `ButtonBar` to the table control, both contained in a `VBox`.
1. Add an `Add` button to the `ButtonBar`.
1. Wire the `Add` button to add a new row to the `TableView`.
1. Create a `MapField` subclass of `Field` that renders us

[2022-01-26 10:24] b0c1 opened #421 "Custom settings serialization"
Hi guys,

I tried to create a custom editor with a custom list of objects but the saving is failed, because the max length of the serialized data is  8*1024.
The StorageHandlerImpl did not serialize each item in the list separated, so it handles the whole list.

Any idea how can I handle this?

[2022-03-27 08:18] trixon commented on #150
Great, thanks!

[2022-05-05 17:36] mavek87 opened #422 "Disable field or group"
Hello, is it possible to disable a field (setting) or a group?

[2022-06-01 07:39] VirtualTim opened #423 "ExtendedExample does not work with enums"
The example fails to run with the following stack trace:
[code]

The last few lines of the log are:

01.06.2022 15:36:58.909 [JavaFX Application Thread] TRACE com.dlsc.preferencesfx.model.PreferencesFxModel - Loading: Appearance & Behaviour#Synchronization#Synchronize files on frame or editor tab activation
01.06.2022 15:36:58.910 [JavaFX Application Thread] TRACE com.dlsc.preferencesfx.model.Pref

[2022-06-28 04:14] VirtualTim commented on #177
I'm running into the same issue with the latest PreferencesFX.
@incendium, did you find a workaround?

[2022-06-28 13:07] incendium commented on #177
No, I gave up and manually created the form I needed.

[2022-07-10 02:06] reikjarloekl commented on #177
It is unclear, why the library does not simply reference the FormsFx lib so that all controls would be available. Instead, the FormsFx code seems to have been copied into this lib but only partly.

[2022-07-11 07:05] VirtualTim commented on #177
Yeah I had the same question.

[2022-07-18 13:27] aldanchenko opened #427 "change visibility for Setting class"
Hi 👋,

Could you, please, guide me how to change visibility for `Setting` class?

For example, I need to change visibility of one of my components. In Swing or JavaFX I just can `setVisible(false)` or `setVisible(true)`. How can I do this with PreferencesFX?

Thank you for help!

Best regards,
Alex

[2022-07-22 08:23] #177 closed

[2022-07-22 08:26] #423 closed, assigned to nobody

[2022-08-18 11:44] #74 closed

[2022-08-25 14:25] reikjarloekl commented on #427
@dlemmermann this should be closed also. It refers to the change merged with #429

[2022-08-25 14:31] reikjarloekl opened #431 "Pseudoclasses not applied to node of controls when values are invalid from the start"
When the settings controls are created, the pseudo class to highlight invalid values is set before the node is created for the control.

e.g., for SimpleNumberControl:

[code]

Pseudo classes will be set inside ```super.initializeParts()``` but the StackPane for ```node``` is only set after this.

As a consequence, the pseudo class is only applied to the label, but not the control itself:

![image

[2022-08-25 15:12] #427 closed, assigned to nobody

[2022-08-26 09:55] reikjarloekl opened #432 "When the last setting of a group is hidden with new visibility feature, the following group is drawn too close"
Currently, the distance between the last element of a group and the first element (title or setting for groups without title) is implemented by setting the bottom margin of the last settings element in a group higher. Therefore, when the last element of a group is hidden, the layout breaks, i.e., the following group title is shown too close to the previous group:

![preferencesFx-layout](https://u

[2022-08-26 10:10] #431 closed, assigned to nobody

[2022-08-26 10:13] dlemmermann commented on #432
:-) Assigning you @reikjarloekl as I do not have time to look into this issue.

[2022-08-26 10:14] reikjarloekl commented on #432
It's fixed already. =) Will open a PR in a minute.

[2022-08-29 09:27] VirtualTim commented on #422
You can attach a listener to a BooleanProperty that makes a Field editable. But of course you need to capture the Field (as in `com.dlsc.formsfx.model.structure.Field`) first if you're not doing that already.
You can then do something like (kotlin):
[code]

There might be a better way using bindings, but this works for me. Hope it helps.

[2022-08-29 09:31] VirtualTim commented on #421
You can implement your own `StorageHandler`, I believe you can even extend `StorageHandlerImpl`. Then you could re-implement `saveObject`.

To use this use `PreferencesFx.of(new MyStorageHandler(), Category.of...`.

[2022-08-29 20:02] reikjarloekl commented on #413
This might have been fixed with #430 (change to preferencesfx/src/main/java/com/dlsc/preferencesfx/PreferencesFx.java).

[2022-08-29 21:00] ghost commented on #413
Cool! I'll check it out when the next release is published.

[2022-09-09 08:13] #432 closed, assigned to reikjarloekl

[2022-10-03 07:40] VirtualTim opened #436 "List properties show history as modified on initial load"
`PreferencesFx.init()` directly calls `this.preferencesFxModel.loadSettingValues();`.
Slightly further down, the same function calls `this.preferencesFxDialog = new PreferencesFxDialog(this.preferencesFxModel, this.preferencesFxView);`, which calls `model.loadSettingValues();`, where `model` is the same object as the above `this.preferencesFxModel`.

This means that all settings are loaded twice.

[2022-10-03 07:43] VirtualTim commented on #436
Pseudo stack-trace:

https://github.com/dlsc-software-consulting-gmbh/PreferencesFX/blob/4348c8f6e4097f49dea2fd98207303df369d6b4f/preferencesfx/src/main/java/com/dlsc/preferencesfx/PreferencesFx.java#L68-L70

https://github.com/dlsc-software-consulting-gmbh/PreferencesFX/blob/4348c8f6e4097f49dea2fd98207303df369d6b4f/preferencesfx/src/main/java/com/dlsc/preferencesfx/PreferencesFx.java#L92

https:/

[2022-10-07 07:55] rladstaetter commented on #293
Try using https://github.com/kordamp/ikonli - you can use fontawesome icons with it as well.

[2022-11-17 06:41] ghost commented on #413
This bug is fixed, but another bug now exists: #440 .

[2022-11-17 06:41] #413 closed, assigned to nobody

[2022-11-17 06:48] ghost opened #440 "Table increases by a few pixels after sizing divider"
## Replicate

1. Create a new PreferencesFX dialog with a table, such as:

    ![preferencesfx-01](https://user-images.githubusercontent.com/2131950/202375181-5b87f12d-ad0b-420c-858f-8c166b74fe66.png)

1. Move the slider back and forth until the label for the table switches from having an ellipses (e.g., `Pai...` in the previous image) back to not having an ellipses (e.g., `Pairs`).

1. Click anyw

[2022-11-23 06:54] #436 closed, assigned to nobody